* text=auto !eol
petal/demo.py -text
petal/focal_surface_lookup.csv -text
petal/legacypetalcomm.py -text
petal/legacypositionercomm.py -text
petal/movetablescr.py -text
petal/petalcomm.py -text
petal/petsockcomm.py -text
petal/pos_settings/_collision_settings_DEFAULT.conf -text
petal/pos_settings/_genl_settings_DEFAULT.conf -text
petal/pos_settings/_unit_settings_DEFAULT.conf -text
petal/pos_settings/unit_6M01.conf -text
petal/pos_settings/unit_UM00012.conf -text
petal/pos_settings/unit_UM00013.conf -text
petal/pos_settings/unit_UM1020.conf -text
petal/posanticollision.py -text
petal/posarraymaster.py -text
petal/poscollider.py -text
petal/posconstants.py -text
petal/posmodel.py -text
petal/posmovetable.py -text
petal/posplot.py -text
petal/posschedule.py -text
petal/posstate.py -text
petal/postransforms.py -text
petal/test_poscollider.py -text
petalbox/caninit.py -text
petalbox/caninit.sh -text
petalbox/docs/systec-readme.txt -text
petalbox/drivers/systec-readme.txt -text
petalbox/drivers/systec_can-V0.9.0.tar.bz2 -text
petalbox/hwlib/dlptemp.py -text
petalbox/petalcontroller.conf -text
petalbox/petalcontroller.conf.default -text
petalbox/petalcontroller.ini.default -text
petalbox/petalcontroller.py -text
petalbox/posfidcan.py -text
petalbox/util/dotprofile -text
petalbox/util/mvtest.py -text
posfirmware/develop/fipos_fw_2.0dev.c -text
posfirmware/docs/FW_1.0_DESC.docx -text svneol=unset#application/zip
posfirmware/docs/FW_2.0_DESC.docx -text
posfirmware/release/fipos_fw_1.0.c -text
