# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment directories
.env/
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Common editor/OS cruft
.DS_Store
Thumbs.db

# Cython generated outputs
petal/poscollider.c
petal/poscollider.html
petal/poscollider.*.so

# Coverage outputs
.coverage
htmlcov

# Markdown files
*.md
