* text=auto !eol
bin/petal -text
bin/petalcontroller -text
petal/deprecated_posanticollision.py -text
petal/focal_surface_lookup.csv -text
petal/petal.py -text
petal/petalcomm.py -text
petal/petsockcomm.py -text
petal/poscollider.py -text
petal/posconstants.py -text
petal/posmodel.py -text
petal/posmovetable.py -text
petal/posplot.py -text
petal/posschedule.py -text
petal/posstate.py -text
petal/postransforms.py -text
petal/tests_and_demos/demo.py -text
petal/tests_and_demos/fiberlife.py -text
petal/tests_and_demos/movetablescr.py -text
petal/tests_and_demos/power_test.py -text
petal/tests_and_demos/test_interior_unreachable_nan.py -text
petal/tests_and_demos/test_poscollider.py -text
petal/tests_and_demos/test_torque.py -text
petal/tests_and_demos/test_tp_update_transform.py -text
petalbox/boardtest.py -text
petalbox/bootloadcontrol.py -text
petalbox/bootloader38.hex -text
petalbox/bootloadertoreload.hex -text
petalbox/bootreloader.hex -text
petalbox/bootreloader38.hex -text
petalbox/canmap.json -text
petalbox/docs/systec-readme.txt -text
petalbox/drivers/systec-readme.txt -text
petalbox/drivers/systec_can-V0.9.0.tar.bz2 -text
petalbox/fw21.hex -text
petalbox/fw31.hex -text
petalbox/fw31moved.hex -text
petalbox/fw32page4.hex -text
petalbox/hwlib/dlptemp.py -text
petalbox/load_firmware.py -text
petalbox/petalcontroller.py -text
petalbox/petalcontroller_devel.py -text
petalbox/pf_info.py -text
petalbox/pf_utility.py -text
petalbox/pfp_utility.py -text
petalbox/poscontrol.conf -text
petalbox/poscontrol.py -text
petalbox/poscontrol.sh -text
petalbox/poscontrol2.gif -text svneol=unset#image/gif
petalbox/posfidcan.py -text
petalbox/posfidcansim.py -text
petalbox/ptltel.py -text
petalbox/util/dotprofile -text
petalbox/util/mvtest.py -text
petalbox_img/Petalcontroller[!!-~]Setup[!!-~]Instructions.docx -text
posfidfvc/SBIG/SBIG_dev/51-sbig-debian.rules -text
posfidfvc/SBIG/SBIG_dev/arm/libsbigudrv.a -text
posfidfvc/SBIG/SBIG_dev/arm/libsbigudrv.so -text
posfidfvc/SBIG/SBIG_dev/lib32/libsbigudrv.so -text
posfidfvc/SBIG/SBIG_dev/lib64/libsbigudrv.so -text
posfidfvc/SBIG/SBIG_dev/sbigudrv.h -text
posfidfvc/SBIG/camtest.py -text
posfidfvc/SBIG/measure_camera_scale.conf -text
posfidfvc/SBIG/measure_camera_scale.py -text
posfidfvc/SBIG/msgfitter.py -text
posfidfvc/SBIG/multicens.py -text
posfidfvc/SBIG/readme -text
posfidfvc/SBIG/sbig_grab_cen.py -text
posfidfvc/SBIG/sbigcam.py -text
posfidfvc/SBIG/stf.py -text
posfidfvc/SBIG/usbreset.c -text
posfidfvc/SBIG/usbreset.py -text
posfidfvc/fitcircle.py -text
posfidfvc/fvchandler.py -text
posfidfvc/initialize_hwsetup.py -text
posfidfvc/mightex/19-mightex_udev.rules -text
posfidfvc/mightex/Makefile -text
posfidfvc/mightex/README.txt -text
posfidfvc/mightex/mightex.py -text
posfidfvc/mightex/mightex_cmd -text
posfidfvc/mightex/mightex_cmd.c -text
posfidfvc/mightex/mightex_cmd.help.txt -text
posfidfvc/mightex/mightex_test.py -text
posfidfvc/poscalibplot.py -text
posfidfvc/posmovemeasure.py -text
posfirmware/develop/bootloader_description.pdf -text svneol=unset#unset
posfirmware/develop/bootloadercmdf35.c -text
posfirmware/develop/bootloadersyncf31.c -text
posfirmware/develop/fipos_fw_2.0dev.c -text
posfirmware/develop/fipos_fw_2.1dev.c -text
posfirmware/docs/FW_1.0_DESC.docx -text svneol=unset#application/zip
posfirmware/docs/FW_2.0_DESC.docx -text
posfirmware/docs/FW_3.0_DESC.docx -text
posfirmware/docs/Revision[!!-~]Changes[!!-~](for[!!-~]firmware[!!-~]versions[!!-~]after[!!-~]2.0).docx -text
posfirmware/release/bl30.bin -text
posfirmware/release/fipos_fw_1.0.c -text
posfirmware/release/fipos_fw_2.0.c -text
posfirmware/release/fipos_fw_2.1.c -text
posfirmware/release/fipos_fw_3.0.c -text
posfirmware/release/fw21.hex -text
ups/plate_control.table -text
xytest/grader.py -text
xytest/pos_xytest_plot.py -text
xytest/sendalarm.py -text
xytest/summarizer.py -text
xytest/um_test_report.py -text
xytest/watcher.py -text
xytest/xytest.py -text
