[run]
source = .
omit =
    collision_lookup_generator.py
    collision_lookup_generator_subset.py
    petalcomm.py
    petsockcomm.py
    regression/*
    setup.py
    */__pycache__/*
    */site-packages/*

[report]
# Show which lines weren't covered
show_missing = False

# Sort by coverage percentage
sort = Cover
