[run]
source = .
omit =
    regression/*
    setup.py
    */__pycache__/*
    */site-packages/*

[report]
# Show which lines weren't covered
show_missing = False

# Sort by coverage percentage
sort = Cover
